
{% extends "mailings/base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
    <li class="list-group-item"><strong>Имя:</strong> {{ user.first_name }}</li>
    <li class="list-group-item"><strong>Фамилия:</strong> {{ user.last_name }}</li>
</ul>
<a href="{% url 'users:update' %}" class="btn btn-primary">Редактировать</a>
{% endblock %}
