# example.env

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=django-insecure-$bw=7gen2)905)psvun$4wh1em0fx(xbcx&pv&i)g^9_74o+cc

DEBUG=True

DB_NAME=mailsender
DB_USER=adminuser
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

# Можно добавить если нужно:
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_URL=redis://redis:6379/0
