{% extends "users/base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4">Восстановление пароля</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.email.label_tag }}
      {{ form.email }}
      {% if form.email.errors %}
        <div class="text-danger">{{ form.email.errors }}</div>
      {% endif %}
      <button type="submit" class="btn btn-warning mt-3">Сбросить пароль</button>
    </form>
  </div>
</div>
{% endblock %}