{% extends 'base.html' %}
{% block content %}
<h1>Пользователи</h1>
<table>
  <tr>
    <th>Имя пользователя</th>
    <th>Email</th>
    <th>Статус</th>
    <th>Действия</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>
      {% if user.is_active %}
        Активен
      {% else %}
        Заблокирован
      {% endif %}
    </td>
    <td>
      {% if user.is_active %}
      <form method="post" action="{% url 'users:deactivate_user' user.pk %}" style="display:inline">
        {% csrf_token %}
        <button type="submit">Деактивировать</button>
      </form>
      {% else %}
      <form method="post" action="{% url 'users:activate_user' user.pk %}" style="display:inline">
          {% csrf_token %}
          <button type="submit">Активировать</button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
