{% extends "mailings/base.html" %}
{% block title %}Информация о сообщении{% endblock %}
{% block content %}
<h2>Сообщение: {{ object.subject }}</h2>
<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Тема:</strong> {{ object.subject }}</li>
    <li class="list-group-item"><strong>Текст:</strong> {{ object.body }}</li>
</ul>
<a href="{% url 'mailings:messages_update' object.pk %}" class="btn btn-primary">Изменить</a>
<a href="{% url 'mailings:messages_delete' object.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'mailings:messages_list' %}" class="btn btn-secondary">Назад</a>

{% endblock %}
