
{% extends "mailings/base.html" %}
{% block title %}Информация о клиенте{% endblock %}
{% block content %}
<h2>Клиент: {{ object.full_name }}</h2>
<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
    <li class="list-group-item"><strong>Комментарий:</strong> {{ object.comment }}</li>
</ul>
<a href="{% url 'clients:update' object.pk %}" class="btn btn-primary">Изменить</a>
<a href="{% url 'clients:delete' object.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'clients:list' %}" class="btn btn-secondary">Назад</a>
{% endblock %}
