
{% extends "mailings/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="mb-3">
        {{ form.full_name.label_tag }} {{ form.full_name }}
        {{ form.full_name.errors }}
    </div>
    <div class="mb-3">
        {{ form.comment.label_tag }} {{ form.comment }}
        {{ form.comment.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>

    <a href="{% url 'mailings:clients_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
